body {
	overflow: hidden;
}
.headerBox {
	position:absolute;
	top:0px;
	width:100%;
	height:22px;
	background-color:#666666;
	color:#FFFFFF;
	text-align: center;
	font-weight: bold;
	z-index: 10;
}

.divider {
	position:absolute;
	border:solid 4px white;
}

.dialogueBox {
	position:absolute;
	display:table;
	background-color: #FFFFFF;
	z-index:5;
}

.row {
	display:table-row;
	height:100%;
	width:100%;
}

.content {
	display:table-cell;
	border: 1px solid #666666;
	padding-left:4px;
	cursor:default;
}

.content:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#menu {
	top:22px;
	right:0px;
	width:100%;
	height:20px;
}

#logo {
	display:table-cell;
	border: 1px solid #666666;
	width:40px;
	background-image:url("../images/bjs.jpg");
	background-repeat: no-repeat;
	
}

.subMenu {
	position:absolute;
	display:table;
	background-color: #FFFFFF;
	z-index:4;
	top:44px;
	right:0px;
	width:100%;
	height:64px;
	border:1px solid black;
	border-top:none;
	visibility:hidden;
}

.filecontent {
	display:table-cell;
	cursor:default;
	width:70px;
	opacity: 0.6;
	padding-left:4px;
	border-right:black 1px solid;
}

.filecontent:hover {
	opacity:1; 
}

#subfilemenu {
	height:25px;
}

#model {
	color:#666666;
}

#model:hover {
	background: linear-gradient(to right, #FFFFFF , #FFFFFF); 
}

.cubeepic {
	display:table-cell;
	cursor:default;
	width:56px;
	height:58px;
	opacity:0.6;
	background-repeat:no-repeat;
}

.cubeepic:hover {
	opacity:1; 
}

.subcontent {
	display:table-cell;
	cursor:default;
}

.blankcontent {
	display:table-cell;
	width:25px;
	cursor:default;
}

#blankcontent:hover {
	background: linear-gradient(to right, #FFFFFF , #FFFFFF); 
}

.gapcontent {
	display:table-cell;
	width:25px;
	cursor:default;
	border: 1px solid #666666;
}

.gapcontent:hover {
	background: linear-gradient(to right, #FFFFFF , #FFFFFF); 
}

#box{
	background-image:url("../images/box.png");
}

#blank {
	width:15%;
}

#blank1 {
	width:30px;
}

#cyl{
	background-image:url("../images/cyl.png");
}

#sph{
	background-image:url("../images/sphere.png");
}

#rof{
	background-image:url("../images/roof.png");
}

.dividr {
	display:table-cell;
	cursor:default;
	border-right:1px dotted black;
}

#clear:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#all {
	width:90px;
	vertical-align: middle;
}

#all:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#copy {
	width:90px;
	vertical-align: middle;
}

#copy:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#delete_ {
	width:90px;
	vertical-align: middle;
}

#delete_:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}


#clear {
	width:119px;
	vertical-align: middle;
}




#vertmenu {
	position:absolute;
	height:100%;
	right:0px;
	width:30px;
	border:solid 1px #000000;
	background-color: #FFFFFF;
	top:4px;
}

.arrcontent {
	position:absolute;
	border-bottom: 1px solid #666666;
	cursor:default;
	opacity:0.7;
	width:30px;
	height:30px;
	text-align:center;
	font-weight:bold;
	padding-left:0px;
	text-shadow: 1px 1px #AAAAAA;
}

.arrcontent:hover {
	opacity:1; 
}

#leftarrow{
	background-color:#4040FF;
	top:42px;
}

#rightarrow {
	background-color:#FF4040;
	top:72px;
}

#uparrow {
	background-color:#FFFFFF;
	top:102px;
}

#downarrow {
	background-color:#40FF40;
	top:132px;
}

#forwardarrow {
	background-color:#FFFF00;
	top:162px;
}

#backarrow {
	background-color:#804000;
	top:192px;
}

.vblank {
	position:absolute;
	width:30px;
	height:15px;
	background-color:#808080;
	border-bottom:solid 1px #080808;
}

#vblank1 {
	top:222px;
}

.rotate {
	position:absolute;
	width:30px;
	height:30px;
	border-bottom:1px solid #080808;
	opacity:0.75;
}

.rotate:hover {
	opacity:1;
}

#rotateX {
	background-image:url("../images/rotX.png");
	top:237px;
}

#rotateY {
	background-image:url("../images/rotY.png");
	top:267px;
}

#rotateZ {
	background-image:url("../images/rotZ.png");
	top:297px;
}

#vblank2 {
	top:327px;
}

#colour {
	position:absolute;
	top:342px;
	width:30px;
	height:30px;
	border-bottom:1px solid #666666;
	background-color:#0000FF;
}

#colourSwitch {
	position:absolute;
	top:372px;
	width:30px;
	height:30px;
	border-bottom:1px solid #666666;
	background-image:url("../images/colour switch.jpg");
	opacity:0.75;
}

#colourSwitch:hover {
	opacity:1;
}

#colourOpen {
	text-align:center;
	font-size:1.5em;
	cursor:default;
	opacity:0.75;
}

#colourOpen:hover {
	opacity:1;
}

#vblank3 {
	top:402px;
}

#texture {
	position:absolute;
	top:417px;
	width:30px;
	height:30px;
	border-bottom:1px solid #666666;
	background-image:url("../images/xtWood.png");
}

#textureSwitch {
	position:absolute;
	top:447px;
	width:30px;
	height:30px;
	border-bottom:1px solid #666666;
	background-image:url("../images/xtMetal.png");
	opacity:0.75;
}

#textureSwitch:hover {
	opacity:1;
}

#textureOpen {
	text-align:center;
	font-size:1.5em;
	cursor:default;
	opacity:0.75;
}

#textureOpen:hover {
	opacity:1;
}

#vblank4 {
	top:477px;
}


/*colour picker*/

.chart {
	width:10px;
	height:10px;
	border:1px solid #FFFFFF;
	float:left;
	margin:2px 2px 2px 2px;
}

.chart:hover {
	border:1px solid #000000;
}

#colours {
	position:absolute;
	cursor:default;
	right:40px;
	top:350px;
	width:130px;
	height:150px;
	border:1px solid black;
	background-color:#BBBBBB;
	visibility:hidden;
}

.textureimage {
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	border:1px solid black;
	margin:2px 2px 2px 2px;
	float:left;
	opacity:0.75;
}

.textureimage:hover {
	opacity:1;
}

#metal {
	background-image:url("../images/xtMetal.png");
}

#wood {
	background-image:url("../images/xtWood.png");
}

#rust {
	background-image:url("../images/xtRust.png");
}

#textures {
	position:absolute;
	cursor:default;
	right:40px;
	top:424px;
	width:130px;
	height:150px;
	border:1px solid black;
	background-color:#BBBBBB;
	overflow-y: scroll;
	visibility:hidden;
}

/* SCENE CSS */

#scene_menu {
	top:22px;
	right:0px;
	width:100%;
	height:20px;
}

#scene_subfilemenu {
	height:25px;
}

#scene_blank {
	width:15%;
}

#scene_scene {
	color:#666666;
}

#scene_scene:hover {
	background: linear-gradient(to right, #FFFFFF , #FFFFFF); 
}

#scene_leftarrow{
	background-color:#4040FF;
}

#scene_rightarrow {
	background-color:#FF4040;
}

#scene_uparrow {

}

#scene_downarrow {
	background-color:#40FF40;
}

#scene_forwardarrow {
	background-color:#FFFF00;
}

#scene_backarrow {
	background-color:#804000;
}

#scene_clear {
	width:119px;
	vertical-align: middle;
}

#scene_clear:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#scene_all {
	width:90px;
	vertical-align: middle;
}

#scene_all:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#scene_copy {
	width:90px;
	vertical-align: middle;
}

#scene_copy:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#scene_delete {
	width:90px;
	vertical-align: middle;
}

#scene_delete_:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#scene_rotateX {
	background-image:url("../images/rotX.png");
}

#scene_rotateY {
	background-image:url("../images/rotY.png");
}

#scene_rotateZ {
	background-image:url("../images/rotZ.png");
}