.divider {
	position:absolute;
	border:solid 4px white;
}

.dialogueBox {
	position:absolute;
	display:table;
	background-color: #FFFFFF;
	z-index:5;
}

.row {
	display:table-row;
	height:100%;
	width:100%;
}

.content {
	display:table-cell;
	border: 1px solid #666666;
	padding-left:4px;
	cursor:default;
}

.content:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#menu {
	top:0px;
	right:0px;
	width:100%;
	height:20px;
}

.arrcontent {
	display:table-cell;
	border: 1px solid #666666;
	padding-left:4px;
	cursor:default;
	opacity:0.7;
	width:30px;
	text-align:center;
	font-weight:bold;
	padding-left:0px;
	text-shadow: 1px 1px #AAAAAA;
}

.arrcontent:hover {
	opacity:1; 
}

#leftarrow{
	background-color:#4040FF;
}

#rightarrow {
	background-color:#FF4040;
}

#uparrow {

}

#downarrow {
	background-color:#40FF40;
}

#forwardarrow {
	background-color:#FFFF00;
}

#backarrow {
	background-color:#804000;
}

.subMenu {
	position:absolute;
	display:table;
	background-color: #FFFFFF;
	z-index:4;
	top:22px;
	right:0px;
	width:100%;
	height:64px;
	border:1px solid black;
	border-top:none;
	visibility:hidden;
}

.filecontent {
	display:table-cell;
	cursor:default;
	width:70px;
	opacity: 0.6;
	padding-left:4px;
	border-right:black 1px solid;
}

.filecontent:hover {
	opacity:1; 
}

#subfilemenu {
	height:25px;
}

#model {
	color:#666666;
}

#model:hover {
	background: linear-gradient(to right, #FFFFFF , #FFFFFF); 
}

.cubeepic {
	display:table-cell;
	cursor:default;
	width:56px;
	height:58px;
	opacity:0.6;
	background-repeat:no-repeat;
}

.cubeepic:hover {
	opacity:1; 
}

.subcontent {
	display:table-cell;
	cursor:default;
}

.blankcontent {
	display:table-cell;
	width:25px;
	cursor:default;
}

#blankcontent:hover {
	background: linear-gradient(to right, #FFFFFF , #FFFFFF); 
}

.gapcontent {
	display:table-cell;
	width:25px;
	cursor:default;
	border: 1px solid #666666;
}

.gapcontent:hover {
	background: linear-gradient(to right, #FFFFFF , #FFFFFF); 
}

#box{
	background-image:url("../images/box.png");
}

#blank {
	width:15%;
}

#cyl{
	background-image:url("../images/cyl.png");
}

#sph{
	background-image:url("../images/sphere.png");
}

#rof{
	background-image:url("../images/roof.png");
}

.dividr {
	display:table-cell;
	cursor:default;
	border-right:1px dotted black;
}

#clear:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#all {
	width:90px;
	vertical-align: middle;
}

#all:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

.chart {
	width:10px;
	height:10px;
	border:1px solid black;
	float:left;
	margin:2px 2px 2px 2px;
}

#colours {
	display:table-cell;
	cursor:default;
	width:60px;
}

#currentColour {
	width:60px;
}

#clear {
	width:119px;
	vertical-align: middle;
}

#colour {
	width:50px;
	height:50px;
	border:1px solid black;
	margin:5px 5px 5px -1px;
	background-color:#0000FF;
}

#textures {
	width:40%;
}

#texturepics {
	width:90%;
	height:56px;
	margin:1px;
	overflow:auto;	
}

.textureimage {
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	border:1px solid black;
	margin:2px 2px 2px 2px;
	float:left;
	opacity:0.75;
}

.textureimage:hover {
	opacity:1;
}

#metal {
	background-image:url("../images/xtMetal.png");
}

#wood {
	background-image:url("../images/xtWood.png");
}

#rust {
	background-image:url("../images/xtRust.png");
}

.rotate {
	width:50px;
	height:50px;
	border:1px solid black;
	margin:5px 5px 5px 5px;
	opacity:0.75;
	float:left;
}

.rotate:hover {
	opacity:1;
}

#rotateX {
	background-image:url("../images/rotX.png");
}

#rotateY {
	background-image:url("../images/rotY.png");
}

#rotateZ {
	background-image:url("../images/rotZ.png");
}

/* SCENE CSS */

#scene_menu {
	top:0px;
	right:0px;
	width:100%;
	height:20px;
}

#scene_subfilemenu {
	height:25px;
}

#scene_blank {
	width:15%;
}

#scene_scene {
	color:#666666;
}

#scene_scene:hover {
	background: linear-gradient(to right, #FFFFFF , #FFFFFF); 
}

#scene_leftarrow{
	background-color:#4040FF;
}

#scene_rightarrow {
	background-color:#FF4040;
}

#scene_uparrow {

}

#scene_downarrow {
	background-color:#40FF40;
}

#scene_forwardarrow {
	background-color:#FFFF00;
}

#scene_backarrow {
	background-color:#804000;
}

#scene_clear {
	width:119px;
	vertical-align: middle;
}

#scene_clear:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#scene_all {
	width:90px;
	vertical-align: middle;
}

#scene_all:hover {
	background: linear-gradient(to right, #999999 , #FFFFFF); 
}

#scene_rotateX {
	background-image:url("../images/rotX.png");
}

#scene_rotateY {
	background-image:url("../images/rotY.png");
}

#scene_rotateZ {
	background-image:url("../images/rotZ.png");
}